<!DOCTYPE html>
<html>
  <head>
    <style>
       #map {
        height: 400px;
        width: 100%;
       }
    </style>
  </head>
  <body>
    <h3>My Google Maps Demo</h3>
    <div id="map"></div>
    <script>
    var map;
function initMap() {
    var uluru = {lat: -25.363, lng: 131.044};
    map = new google.maps.Map(document.getElementById('map'), {
        zoom: 4,
        center: uluru
    });
    google.maps.event.addListener(map, 'click',
				  function(event) {
				      placeMarker(event.latLng);
				  });
}
function placeMarker(location) {
    var marker = new google.maps.Marker({
	position: location,
	map: map
    });
    document.getElementById('latitude').value = location.lat();
    document.getElementById('longitude').value = location.lng();
}

    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBo-wTMk3ttQIA5XiDQCWlEK9W6vgWHHBQ&callback=initMap">
    </script>

    <div id="newcrimeform">
      <h2>Submit new crime</h2>
      <form action="/submitcrime" method="POST">
	<label for="category">Category</label>
	<select name="category" id="category">
	  <option value="mugging">Mugging</option>
	  <option value="breakin">Break-in</option>
	</select>
	<label for="date">Date</label>
	<input name="date" id="date" type="date">
	<label for="latitude">Latitude</label>
	<input name="latitude" id="latitude"
	       type="text">
	       <label for="longitude">Longitude</label>
	       <input name="longitude" id="longitude"
		      type="text">
		      <label for="description">Description</label>
		      <textarea name="description" id="description"
				placeholder="A brief but detailed
				description of the crime"></textarea>
				<input type="submit" value="Submit">
      </form>
    </div>
  </body>
</html>
